body{
    /* width: 1200px; */
    color: rgb(6, 27, 46);
    display: grid;
    grid-template-areas: "header header header"
                         "sidebar content section"
                         "footer footer footer";
    grid-template-columns: 30% auto 20%;                     
                         
}
header{
    grid-area: header;
    height: 70px;
    color: aliceblue;
    background-color: green;
}

header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
}
aside{
    grid-area: sidebar;
    background-color: aqua;
    color: black;
}

main{
    grid-area: content;
    background-color:aquamarine;
    color: black;
}

section{
    grid-area: section;
    background-color: rgb(0, 86, 167);
    color: black;
}

footer{
    grid-area: footer;
    background-color: black;
}